<div dojoAttachPoint="rootNode" class="UIExpandableText">
	<div class="displayDiv" dojoAttachPoint="displayNode"></div>
	<div class="containerDiv" style="display: none" dojoAttachPoint="containerNode"></div>
</div>