<div class="UINote">
	<a	href="javascript:void(0);" onMouseOver="dijit.byId('${id}').showBox();" onMouseOut="dijit.byId('${id}').hideBox();">${note}</a>
	<div class="UINoteContent" style="display:none;" id="${id}_content"	onMouseOver="javascript:dijit.byId('${id}').showBox();" onMouseOut="javascript:dijit.byId('${id}').hideBox();" dojoAttachPoint="contentNode">
	<!--<div class=\"UINoteContentClose\"><a href=\"javascript:return	false;\" onClick=\"dojo.byId('${id}_content').style.display='none';\">&nbsp;</a></div>-->	
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td class="UINoteContentTableTL">&nbsp;&nbsp;</td>
				<td width="99%" class="UINoteEmptyCell">&nbsp;&nbsp;</td>
				<td class="UINoteContentTableTR">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td	class="p10" dojoAttachPoint="containerNode"></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td class="UINoteContentTableBL">&nbsp;&nbsp;</td>
				<td class="UINoteEmptyCell">&nbsp;</td>
				<td class="UINoteContentTableBR">&nbsp;&nbsp;</td>
			</tr>
		</table>
		<div class="UINoteContentArrow"></div>
	</div>
</div>