<div class="defaultReview" dojoAttachPoint="mainNode">
	<div class="head1"></div>
	<div class="content1">
		<div class="gradient1">
			<div class="percentsReview">
				<div class="left">
					<div dojoAttachPoint="percentsNode" class="percents"></div>
					<span dojoAttachPoint="votesNode">NONE</span>
				</div>
				<div class="left" dojoAttachPoint="signNode">
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="foot1"></div>
</div>