<div class="UITransferBox">

		<div class="leftCol">
			<div class="title1"><div class="left">${title1}</div><div class="right" dojoAttachPoint="ttlNode"></div></div>
			<input dojoAttachPoint="textbox"/>
			<div class="multipleSelectWrapper" dojoAttachPoint="multipleSelect1Wrapper">
				<div class="multipleSelect">
					<select multiple="multiple" size="${size}" class="multipleSelect1" dojoAttachPoint="selectNode"></select>
				</div>
			</div>
		</div>

		<div class="btnsCol" dojoAttachPoint="btnsColumn">
			<div class="btnRight" dojoAttachPoint="btnRightNode"></div>
			<br/>
			<div class="btnLeft" dojoAttachPoint="btnLeftNode"></div>
		</div>

		<div class="rightCol" dojoAttachPoint="rightColumn">
			<div class="title2"><div class="left">${title2}</div><div class="right" dojoAttachPoint="ttlSelectedNode"></div></div>
			<div class="multipleSelectWrapper" dojoAttachPoint="multipleSelect2Wrapper">
				<div class="multipleSelect">
					<select multiple="multiple" size="${size}" class="multipleSelect2" dojoAttachPoint="select2Node"></select>
				</div>
			</div>
		</div>

</div>