<div class="UIUploadContainer">
 <div dojoAttachPoint="fileListNode" class="UIUploadFileList" id="${fileListId}"></div>
 <button dojoType="fw.ui.dijit.Button" style="float: left;" buttonStyle="grey" buttonType="Continue wemButtonStyle" disabled="false">
	${buttonLabel}
</button>
 <div dojoAttachPoint="fileUploaderNode" class="UIUploadBrowseButton">.</div>
 <div dojoAttachPoint="uploadButtonNode" class="UIUploadButton"></div>
 <div dojoAttachPoint="progressNode" id="${progressWidgetId}"></div>
</div>