/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

	/* pagewrap */
	#avipagewrap {
		width: 100%;
		height: 100%;
	}

	/* content */
	#avicontent {
		width: 100%;
		height: 100%;
	}

	/* sidebar */
	#sidebar {
		width: 30%;
	}
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		width: 30%;
		height: auto;
		min-height: 150px;
	}
.mainimage{
width: 100%;
height: 50%
}

}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	/* header */
	#header {
		height: auto;
	}

	/* search form */
	#searchform {
		position: absolute;
		top: 5px;
		right: 0;
		z-index: 100;
		height: 40px;
	}
	#searchform #s {
		width: 70px;
	}
	#searchform #s:focus {
		width: 150px;
	}

	/* main nav */
	#main-nav {
		position: static;
	}

	/* site logo */
	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}

	/* site description */
	#site-description {
		margin: 0 0 15px;
		position: static;
	}

	/* content */
	#avicontent {
		width: 100%;
		float: none;
		height: 100%;
	}

	/* sidebar */
	#sidebar {
		width: 100%;
		margin: 0;
		float: none;
	}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		min-height: 150px;
		min-width:235px;
	}
	
	
	
	/* pagewrap */
	#avipagewrap {
		width: 100%;
		height: 100%;
	}
}

.mainimage{
width: 100%;
height: 50%
}
}

/************************************************************************************
smaller than 480------- iPhone
*************************************************************************************/

@media screen and (max-width: 480px) {

	
	html {
		-webkit-text-size-adjust: none;
	}

	
	#main-nav a {
		font-size: 90%;
		padding: 10px 8px;
	}
	
#displayText {
	display:none;
	align:left;
}

.tileimage {
	width: 49%;
	text-align:right;
	padding-left:4px;
	padding-right:4px;
}

.mainimage{
width: 100%;
height: 50%
}

/* pagewrap */
	#avipagewrap {
		width: 98%;
		height: 100%;
	}
	
	/* content */
	#avicontent {
		width: 98%;
		height: 80%;
		float: none;
	}
}

