/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% 
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
*/
/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	font: .81em/150% Arial, Helvetica, sans-serif;
}
a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* list */
ul, ol {
	margin: 1em 0 1.4em 24px;
	padding: 0;
	line-height: 140%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 5px 0 .4em;
	color: #000;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#avipagewrap {
	width: 100%;
	margin: 0 auto;
}

#aviheader{
background: url("../../images/Sliver.png") repeat-x scroll 0 0 transparent;
height: 40px;
width: 100%;
}
.summeryDiv {
	background-color:#d9d6d6;
	background: none repeat;
	padding:5px;
}
.summeryInner {
	background-color:#FFF;
	border:1px solid #bcbbb9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height:20%;
	padding: 5px;
    width: 95%;
	margin:0 auto 5px auto;
	float: left;
}
.summeryDownDiv {
	height: 25px;
	background-color:#f6f6f6;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	border-top:1px solid #d9d7d3;
	padding: 9px 0 0 10px;
}

.summeryDownDiv .summeryText{
	height:auto;
	width:90%;
	float:left;
	word-wrap:break-word;
	color:#7e7f80;
	font: normal 14px/120% "DejaVu Serif";
}
.summeryDownDiv .summeryIcon{
	height:auto;
	height:12px;
	float:right;
	width:11px;
	background:url(../images/arrow.png) no-repeat;
	margin: 2px 8px 0 0;
}
.back {
	background-color:#000;
	opacity:0.8;
	height:12px;
	background-image:url(../images/left.png)  ;
	background-position:50% 0;
	background-repeat:no-repeat;

}
.bgTextiPhone {
	background-color: #45760D;
    border: 2px solid #45760D;
    left: 1px;
    margin-bottom: -110px;
    position: relative;
    top: -140px;
    width: 82%;
	margin-left:118px;
	opacity:0.8;
}
.bgTextiPhoneInner {
	display: block;
	position: relative;
	padding: 5px 10px;
	width: 100%;
	height: 100%;
	color:#FFF;
}
.bgTextiPhoneInner h1{
	width: 100%;
	height: 100%;
	color:#FFF;
	font-family: Arial Black;
    font-size: 22px;
    line-height: 1.2;
}
.bgTextiPhoneInner .innerText{
	background: none;
	color: #fff;
	text-transform: none;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
}
.bgTextiPhoneInner .innerText span{
	font-size: 16px;
	color: #070c00;
	font-weight:bold;
}
.bgTextiPhoneInner .innerText span a{
	font-size: 16px;
	color: #070c00;
	font-weight:bold;
	text-decoration:none;
}
.bgTextiPhoneInner .innerText span a:hover{
	font-size: 16px;
	color: #070c00;
	font-weight:bold;
	text-decoration:underline;
}
.bgTextiPhoneInner .innerText span a:active{
	font-size: 16px;
	color: #070c00;
	font-weight:bold;
	text-decoration:none;
}
.bgTextiPhoneInner .innerText span a:visited{
	font-size: 16px;
	color: #070c00;
	font-weight:bold;
	text-decoration:none;
}
/************************************************************************************
HEADER
*************************************************************************************/
#header {
	position: relative;
	height: 20%;
}

/* site logo */
#site-logo {
	position: absolute;
	top: 10px;
}
.touch-logo {
	position:absolute;
	top:0px;
	left:0px;
	margin:0 0 0 20px;
	height: 40px;
}

.touch-logo a {
	display:block;
	height: 34px;
	width: 130px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../../images/AviSportsTransparent.png) no-repeat 0 80%;
	margin-left: -5px;
}
#site-logo a {
	font: bold 30px/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

/* site description */
#site-description {
	font: italic 100%/130% "Times New Roman", Times, serif;
	color: #fff;
	position: absolute;
	top: 55px;
}

/* searchform */
#searchform {
	position: absolute;
	right: 10px;
	bottom: 6px;
	z-index: 100;
	width: 160px;
}
#searchform #s {
	width: 140px;
	float: right;
	background: #fff;
	border: none;
	padding: 6px 10px;
	/* border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	/* transition */
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition: width .7s;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#main-nav {
	width: 100%;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
	/* gradient */
	background: #6a6a6a url(../images/nav-bar-bg.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #6a6a6a);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}
#main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}
#main-nav li:first-child {
	margin-left: 10px;
}
#main-nav a {
	line-height: 100%;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 14px 15px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
#main-nav a:hover {
	color: #fff;
	background: #474747;
	/* gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4f4f4f));
	background: -moz-linear-gradient(top,  #282828,  #4f4f4f);
	background: linear-gradient(-90deg, #282828, #4f4f4f);
}

/************************************************************************************
CONTENT
*************************************************************************************/
#content {
	background: #fff;
	width: 100%;
	float: left;

	/* box shadow */
	/*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);*/
}


/* post */
.post {
	margin-bottom: 40px;
}
.post-title {
	padding: 4px;
	font: bold 22px/120% Calibri;
	color:#6e6e6e;
}
.post-titleSummeryLight {
	padding: 4px;
	font:  15px/100% Calibri;
	color:#6e6e6e;
}

.post-titleSummeryLight a:link{
	color:#6e6e6e;
	text-decoration:none;
}

.post-titleSummeryLight a:hover{
	color:#6e6e6e;
	text-decoration:underline;
}
.post-titleSummeryLight a:active{
	color:#6e6e6e;
	text-decoration:none;
}
.post-titleSummeryLight a:visited{
	color:#6e6e6e;
	text-decoration:underline;
}

.post-titleSummeryLight span{
	font: normal 16px/100% Calibri;
}

.post-titleSummery {
	padding: 4px;
	font: bold 18px/100% Calibri;
	color:#6e6e6e;
}
.post-titleSummery a:link{
	color:#6e6e6e;
	text-decoration:none;
}
.post-titleSummery a:hover{
	color:#6e6e6e;
	text-decoration:underline;
}
.post-titleSummery a:active{
	color:#6e6e6e;
	text-decoration:none;
}
.post-titleSummery a:visited{
	color:#6e6e6e;
	text-decoration:underline;
}
.post-titleSummery span{
	font: normal 16px/100% Calibri;
}
.post-subject {
	margin: 0 0 5px;
	padding: 4px;
	font: normal 14px/120% Calibri;
	color:#7b7b7b;
}
.post-subjectHeader {
	margin: 0 0 15px;
	padding: 4px;
	font: normal 16px/120% Calibri;
	color:#a1a0a0;
}
.post-title a {
	text-decoration: none;
	color: #6e6e6e;
}
.post-meta {
	margin: 0 0 10px;
	font-size: 90%;
}
.post-Innertitle {
	padding: 0 0 0 5px;
	font: normal 22px/120% Calibri;
	color:#fff;
}

/* post image */
.post-image {
	margin: 0 0 5px 0;
}


/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	width: 280px;
	float: right;
	margin: 30px 0 30px;
}
.widget {
	background: #fff;
	margin: 0 0 30px;
	padding: 10px 20px;
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.widgettitle {
	margin: 0 0 5px;
	padding: 0;	
}
.widget ul {
	margin: 0;
	padding: 0;
}
.widget li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: solid 1px #eee;
}

/* flickr widget */
.widget .flickr_badge_image {
	margin-top: 10px;
}
.widget .flickr_badge_image img {
	width: 48px;
	height: 48px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}

.innerHeader {
	/* gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#7f91a8), to(#314560));
	background: -moz-linear-gradient(top,  #7f91a8,  #314560);
	background: linear-gradient(-90deg, #7f91a8, #314560);
	height:auto;
	width:100%;
	float:left;
}
.innerArticleDiv {
	height:auto;
	float:left;
	border-bottom:1px solid #7e90a8;
	padding: 8px 0 8px 3px;
    width: 99.4%;
	font: normal 18px/120% Calibri;
	color:#787e85;
}
.innerArticleDiv .text{
	height:auto;
	width:90%;
	float:left;
	word-wrap:break-word;
}
.innerArticleDiv .text a{
	height:auto;
	width:90%;
	float:left;
	word-wrap:break-word;
	color: #787E85;
	font: 18px/120% Calibri;
}
.innerArticleDiv .icon{
	height:auto;
	height:12px;
	float:right;
	width:11px;
	background:url(../../../Xcelerate/graphics/common/icon/arrow.png) no-repeat;
	margin: 5px 20px 0 0;
}

.post-inner-image {
	margin: 0 0 10px 0;
	
}
.innerImage {
	height:100%;
}
.innerImage .imgFirst{
    
	height:100%;
	width:40%;
	float:left;
	margin: 0 10px 0 0;
}
.innerImage .text{
	height:90%;;
	width:50%;
	float:right;
	word-wrap:break-word;
	color: #787E85;
	font: 1.8em 18px/120% Calibri;
	padding: 4%;
	
}
.innerImage .headingText{
	color: #000;
    font-weight: bold;
    height: 10%;
    width: 90%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	
}


.bannerimage{
width: 100%;
}

.tileimage{
width: 100%;
}
/************************************************************************************
FOOTER
*************************************************************************************/
#avifooter {
	clear: both;
	color: #333;
	font-size: 90%;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	height: 10%;
}
#avifooter a {
	color: #333;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }