@import url('../js/dojo/resources/dojo.css');
@import url('dijit.css');
@import url('UILayout.css');
@import url('UIInput.css');

.fw #fm1 {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* customization of errors div used by CAS */
.fw .errors {
	line-height: 20px;
	clear: both;
	position: absolute; /* don't throw everything else downwards 	*/
	/* inset just a bit to try to preserve shadows... */
	width: 94%;
	top: 43px;
	left: 2%;
	border: 1px solid #ddd;
	padding: 4px 6px;
	z-index: 101; /* put above logincontent */
}

.fw .loginscreen{
	background-color: #e5e5e5; 
	height: 45%;
}
.fw .loginscreenbg{
	background-image: url('../images/login/loginscreenbg.jpg');
	background-repeat: repeat-x;
	width:100%;
	height:98px;
	display:block;
}
.fw .centerboxcontainer{
	position:absolute;
	width:100%;
	top:20%;
	text-align: center;
}
.fw .centerbox{
	width:661px;
	height:343px;
	margin:0 auto;
	text-align: left;
}
.fw .centerbox .center {
	text-align: center;
	width: 100%;
	color: #949494;
	font-size: 11px;
	padding-top: 72px;
	line-height: 1.5;
}
.fw .centerbox .center span{
	color:#b7b7b7;
	padding-left:10px;
	padding-right:10px;
}
.fw .centerbox .center a{
	color:#b7b7b7;
	text-decoration: none;
}
.fw .centerbox .center a:hover{
	text-decoration: underline;
}

.fw .centerbox .loginbox{
	width:659px;
	height:341px;
	background-color: #fff;
	display: block;
	position:relative;
	border:1px solid #b0afaf;
	background-image: url('../images/login/loginBevelRight.jpg');
	background-repeat: repeat-y;
	background-position: right;	
	padding:1px;
}
.fw .centerbox .loginbox .loginBevelBottom{
	width:100%;
	position:absolute;
	background-image: url('../images/login/loginBevelBottom.jpg');
	background-repeat: no-repeat;
	height:6px;
	bottom:0px;
}

.fw .centerbox .loginbox .topshadow {
	background: url('../images/login/lst.png');
	background-repeat: no-repeat;
	height: 3px;	
	width: 666px;
	position:absolute;
	top:-4px;
	left:-3px;
}
.fw .centerbox .loginbox .leftshadow {
	height: 344px;
	background: url('../images/login/lsl.png');
	background-repeat: no-repeat;
	width: 3px;
	position:absolute;
	left:-4px;
}
.fw .centerbox .loginbox .rightshadow {
	height: 344px;
	background: url('../images/login/lsr.png');
	background-repeat: no-repeat;
	width: 7px;
	position:absolute;
	right:-8px;
}
.fw .centerbox .loginbox .bottomshadow {
	height:17px;
	width:671px;
	background: url('../images/login/lsb.png');
	background-repeat: no-repeat;
	position:absolute;	
	bottom:-18px;
	left:-3px;
}

.fw .centerbox .loginbox .logincontent {
	background-image: url('../images/login/loginBg.png');
	background-repeat: repeat-x;
	height:113px;
	width:100%;
	top:-3px;
	position:relative;
	z-index:100;
}
.dj_ie6 .fw .centerbox .loginbox .logincontent {
	background-image: url('../images/login/loginBg.jpg');
}

.fw .centerbox .loginbox .loginheader{
	background-image: url('../images/login/loginHeadBg.png');
	background-repeat: repeat-x;
	height:40px;
	width:100%;
	z-index:101;
	position: relative;
	line-height:43px;
	color:#e4e4e4;
	font-size:14px;
}

.fw .centerbox .loginbox .loginheader .version{
	position:absolute;
	right:20px;
	top:0px;
	font-size: 12px;
	color: #ccc;
}
/* TODO: genericize selectors in UILayout.
   ...but why is the width different on this one?! */
.fw .loginheader .logoWebCenterSites {
	background: url('../images/logos/SitesTitle.png') no-repeat 20px 55%;
	height: 29px;
	top: 8px;
	position: relative;
	text-align: right;
	line-height: 28px;
	font-size: 10px;
	font-weight: bold;
	padding-right: 20px;
}

.fw .logincontent .logo {
	position: relative;
	top: 68px;
	width: 240px;
	height: 150px;
	border-right: 1px solid #d7d7d7;
	background: url('../images/logos/OracleLogo.png') no-repeat 50% 50%;
	float: left;
}
.fw .logincontent .loginform{
	float:left;
	top:60px;
	right:45px;
	position: absolute;
	padding-left:30px;
}
.fw .logincontent .loginform .title{
	font-weight: bold;
	font-size: 14px;
	padding-right: 20px;
	color: #333;
	line-height: 26px;
}
.fw .logincontent .loginform .forgot a{
	color:#333333;
	line-height: 24px;
	text-decoration: none;
}
.fw .logincontent .loginform .forgot a:hover{
	text-decoration: underline;
}
.fw .logincontent .loginform .loginbtn {
	visibility: hidden;
}
/* spacers */
.fw .pt10{
	padding-top:10px;
}
.fw .pt40{
	padding-top:40px;
}
/* rounded corder button */
.fw .fwButton {
	cursor: pointer;
	margin: 0;
	font-size: 11px;
}
.fw .fwButton .dijitButtonNode {
	margin: 0;
	border: 0;	
}
.fw .fwButton .fwButtonLeft {
	background: url('../images/login/buttonLeft.png') no-repeat;
	height: 26px;	
	width: 10px;
}
.fw .fwButton .fwButtonRight {
	background: url('../images/login/buttonRight.png') no-repeat;
	height: 26px;	
	width: 13px;
}
.fw .fwButton .dijitButtonNode .dijitButtonContents {
	background: url('../images/login/buttonBg.png') repeat-x;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 1;
	height: 26px;
	display: inline-block;
}
.fw .fwButton .dijitButtonNode .dijitButtonContents .dijitButtonText {
	padding: 7px 5px 0;
	min-width: 50px;
}

/* grey button */
.fw .fwGreyButton .fwButtonLeft {
	background: url('../images/login/greyButtonLeft.png') no-repeat;
	height: 34px;
	width: 22px;
}
.fw .fwGreyButtonHover .fwButtonLeft {
	background-image: url('../images/login/greyButtonLeftHover.png');
}
.fw .fwGreyButtonActive .fwButtonLeft {
	background-image: url('../images/login/greyButtonLeftClick.png');
}
.fw .fwGreyButton .fwButtonRight {
	background: url('../images/login/greyButtonRight.png') no-repeat;
	height: 34px;	
	width: 20px;
}
.fw .fwGreyButtonHover .fwButtonRight {
	background-image: url('../images/login/greyButtonRightHover.png');
}
.fw .fwGreyButtonActive .fwButtonRight {
	background-image: url('../images/login/greyButtonRightClick.png');
}
.fw .fwGreyButton .dijitButtonNode .dijitButtonContents {
	background: url('../images/login/greyButtonBg.png') repeat-x;
	color: #465a60;
	font-size: 14px;
	height: 34px;
	text-shadow: 0 1px 0 #fff;
}
.fw .fwGreyButtonHover .dijitButtonNode .dijitButtonContents {
	background-image: url('../images/login/greyButtonBgHover.png')
}
.fw .fwGreyButtonActive .dijitButtonNode .dijitButtonContents {
	background-image: url('../images/login/greyButtonBgClick.png')
}

.fw .fwGreyButton .dijitButtonNode .dijitButtonContents .dijitButtonText {
	padding: 9px 0 0;
	min-width: 0;
}
.fw  .fwGreyButton.wemButtonStyle .dijitButtonNode .dijitButtonContents .dijitButtonText {
	padding: 8px 0 0;
}
.fw .fwGreyButtonDisabled .dijitButtonText {
	filter: Alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.5;
}