<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>locale</shortname>
	<info>A tag library for Content Server locale string access methods.</info>
	<tag>
		<name>argument</name>
		<tagclass>com.openmarket.framework.jsp.Argument</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Child tag which defines an arbitrary name/value pair usable by the parent tag.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>create</name>
		<tagclass>com.openmarket.framework.jsp.locale.Create</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Creates a locale object.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>delete</name>
		<tagclass>com.openmarket.framework.jsp.object.Delete</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Deletes an object.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>gather</name>
		<tagclass>com.openmarket.framework.jsp.object.Gather</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves name/value pairs from the environment, and sets them into a loaded object. The name/value pairs are grouped together using a prefix and a prefix separator.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>fieldlist</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>get</name>
		<tagclass>com.openmarket.framework.jsp.object.Get</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves a field value from a loaded object into the environment.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>getstring</name>
		<tagclass>com.openmarket.framework.jsp.locale.GetString</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Retrieves the locale-specific string.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>locale</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>output</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>resolve</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>list</name>
		<tagclass>com.openmarket.framework.jsp.locale.List</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Builds a list.
		</info>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>order</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>load</name>
		<tagclass>com.openmarket.framework.jsp.locale.Load</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>
			Loads an object.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>save</name>
		<tagclass>com.openmarket.framework.jsp.object.Save</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Saves an object.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>flush</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>scatter</name>
		<tagclass>com.openmarket.framework.jsp.object.Scatter</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Retrieves all fields of a loaded object and "scatters" their values into individual variables sharing a common prefix.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>prefix</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>set</name>
		<tagclass>com.openmarket.framework.jsp.object.Set</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Sets the value of a field in an object.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>
