<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>string</shortname>
	<info>A tag library for Content Centre String object methods.</info>
	<tag>
		<name>argument</name>
		<tagclass>com.openmarket.framework.jsp.Argument</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Child tag which defines an arbitrary name/value pair available to the parent tag.
		</info>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>toobject</name>
		<tagclass>com.openmarket.basic.jsp.string.Toobject</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
            Converts a string to a named ContentServer Object.
  		</info>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   </tag>
   <tag>
		<name>length</name>
		<tagclass>com.openmarket.basic.jsp.string.Length</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
            Returns the length of the string.
  		</info>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   	</tag>
	<tag>
		<name>fromobject</name>
		<tagclass>com.openmarket.basic.jsp.string.Fromobject</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
            Converts a named ContentServer Object back to string.
  		</info>
		<attribute>
			<name>value</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
   </tag>
 	<tag>
		<name>stream</name>
		<tagclass>com.openmarket.basic.jsp.string.Stream</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
            Streams a string, converting non-US characters to escape-encoded
            character sequences.
  		</info>
		<attribute>
			<name>value</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>variable</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>ssvariable</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>property</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>column</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>filecolumn</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

    </tag>

 	<tag>
		<name>streambinary</name>
		<tagclass>com.openmarket.basic.jsp.string.Streambinary</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
            Streams binary data.
  		</info>
		<attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>cgi</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>filename</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>column</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

    </tag>

 	<tag>
		<name>encode</name>
		<tagclass>com.openmarket.basic.jsp.string.Encode</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
            Converts non-US characters to escape-encoded strings.
  		</info>
		<attribute>
			<name>value</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>variable</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>ssvariable</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>property</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>column</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>filecolumn</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>varname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

    </tag>

 </taglib>


