<div dojoAttachPoint="MultiValuedTextEditorNode"
	><div dojoAttachPoint="DndContainerNode"></div
	><div class='EditorWrapperNode' dojoAttachPoint='EditorWrapperNode' 
		><div
			><div class='EditorContainerNode' dojoAttachPoint="EditorContainerNode" 
				><div dojoAttachPoint="EditorNode"></div
			></div
			><div class='EditorMinimizeContainerNode' dojoAttachPoint='EditorMinimizeContainerNode'
				><div class='EditorMinimizeNode' dojoAttachPoint='EditorMinimizeNode' dojoAttachEvent='onclick: _onEditorMinimizeClick'></div
			></div
			><div class='EditorDeleteContainerNode' dojoAttachPoint='EditorDeleteContainerNode'
				><div class='EditorDeleteNode' dojoAttachPoint='EditorDeleteNode' dojoAttachEvent='onclick: _onEditorDeleteClick'></div
			></div
		></div
		><div class='LinkButtonsWrapperNode' dojoAttachPoint="LinkButtonsWrapperNode" 
			><div unselectable="on" data-dojo-type='fw.ui.dijit.Button' data-dojo-props='
				  title: fw.util.getString("UI/Forms/AddLink") 
				, label: fw.util.getString("UI/Forms/AddLink")
				, onClick: dojo.hitch(this, this.onAddLinkClick)
			'></div
			><div unselectable="on" data-dojo-type='fw.ui.dijit.Button' data-dojo-props='
				  title: fw.util.getString("UI/Forms/Include") 
				, label: fw.util.getString("UI/Forms/Include")
				, onClick: dojo.hitch(this, this.onIncludeClick)
			'></div
		></div
	></div
	><div class="AddNode"
		><div data-dojo-type='fw.ui.dijit.Button' data-dojo-props='
			  title: fw.util.getString("UI/Forms/Add") 
			, label: fw.util.getString("UI/Forms/Add")
			, onClick: dojo.hitch(this, this.onAddClick)
		'></div
	></div
></div>