<div class='TextEditorValueNode' dojoAttachPoint='TextEditorValueNode'
	><div class='ValueWrapperNode' dojoAttachPoint='ValueWrapperNode' dojoAttachEvent='onclick: _onValueClick, onmouseover: _onValueMouseOver, onmouseout: _onValueMouseOut'
		><div class='ValueContainerNode' dojoAttachPoint='ValueContainerNode'
			><div class='ValueNode' dojoAttachPoint='ValueNode'></div
		></div	 
	></div
	><div class='DeleteContainerNode' dojoAttachPoint='DeleteContainerNode'
		><div class='DeleteNode' dojoAttachPoint='DeleteNode' dojoAttachEvent='onclick: _onDeleteClick'></div
	></div
></div>