.fw .dijitTabListWrapper {
	padding-top: 12px;
}
/* [KGF] set background behind tabs */
.fw .dijitTabListContainer-top {
	background-color: #555;
	padding-right: 276px;
}
.fw .dijitTabContainer .inDockView {
	padding-right: 0;
}
.fw .dijitTabContainerTop-tabs {
	border-bottom: none;
	height: 30px; /* [KGF] apparently necessary to prevent resize issues... */
}
.fw .dijitTab {
	background: url('../images/uitabs/TabLeft.png') no-repeat;
	padding: 0;
	margin-bottom: 1px;
	border: none;
	font-family: Tahoma, Arial;
	font-size: 11px;
	height: 29px;
	color: #e6e6e6;
}
.fw .dijitTab div {
	outline: none;
} 
.fw .dijitTabContent {
	background: url("../images/uitabs/TabCenter.png") repeat-x;
	padding: 0 5px;
	border: none;
	line-height: 27px;
}
.fw .dijitTabInnerDiv {
	background: url("../images/uitabs/TabRight.png") no-repeat right 0;
	border: none;
	padding: 0 8px;
}
.fw .dashBoardTab {
	background: url('../images/uitabs/dashBoardTabLeft.png') no-repeat;
}
.fw .dashBoardTab .dijitTabInnerDiv {
	background: url("../images/uitabs/dashBoardTabRight.png") no-repeat right 0;
}
.fw .dashBoardTab .dijitTabContent {
	background: url("../images/uitabs/dashBoardTabBg.png") repeat-x;
	height: 29px;
}
.fw .dashBoardTab .tabLabel {
	background: url("../images/uitabs/dashBoardIconOff.png") no-repeat;
	width: 17px !important;
	margin: 0;
}
.fw .dashBoardTabChecked .tabLabel {
	background: url("../images/uitabs/dashBoardIconOn.png") no-repeat;
}
.fw .dashBoardTab .dijitTabContent div {
	width: auto !important;
}
.fw .searchTab {
	background: url('../images/uitabs/searchTabLeft.png') no-repeat;
}
.fw .searchTab .dijitTabInnerDiv {
	background: url("../images/uitabs/searchTabRight.png") no-repeat right 0;
}
.fw .searchTab .dijitTabContent {
	background: url("../images/uitabs/searchTabBg.png") repeat-x;
	font-weight: bold;	
}
.fw .searchTab .dijitTabButtonIcon {
	background: url('../images/uitabs/searchTabIconOff.png') no-repeat;
	height: 15px;
	width: 15px;
	display: inline-block !important;
	margin-top: 2px;
}
.fw .searchTabChecked .dijitTabButtonIcon {
	background: url('../images/uitabs/searchTabIconOn.png') no-repeat;
}
.fw .dijitTabChecked {
	background: url("../images/uitabs/ActiveTabLeft.png") no-repeat;
	color: #333333;
	font-weight: bold;
}
.fw .dijitTabChecked .dijitTabInnerDiv {
	background: url("../images/uitabs/ActiveTabRight.png") no-repeat right 0;
}
.fw .dijitTabChecked .dijitTabContent {
	background: url("../images/uitabs/ActiveTabCenter.png") repeat-x;
}

.fw .dijitTabCloseButton {
	background: url("../images/uitabs/XOFF.png") no-repeat;
	position: absolute;
	width: 10px;
	height: 10px;
	right: 12px;
	top: 10px;
}
.fw .dijitTabChecked .dijitTabCloseButton {
	background: url("../images/uitabs/XON.png") no-repeat;
}
.fw .dijitTabFocused {
	/* [KGF] override .fw .dijitFocused in UILayout.css */
	border: none !important;
}
.fw .dijitTab .lockedByYouIcon {
	background: url('../images/uitabs/lockedByYouIconOff.png') no-repeat;
	width: 15px;
	height: 12px;	
}
.fw .dijitTabChecked .lockedByYouIcon {
	background: url('../images/uitabs/lockedByYouIconOn.png') no-repeat;
}
.fw .dijitTab .lockedByOtherIcon {
	background: url('../images/uitabs/lockedByOtherIconOff.png') no-repeat;
	width: 13px;
	height: 14px;	
}
.fw .dijitTabChecked .lockedByOtherIcon {
	background: url('../images/uitabs/lockedByOtherIconOn.png') no-repeat;
}

.fw .tabLabel {
	margin-right: 5px;
	width: 105px !important;
	overflow: hidden;
	display: inline-block;
}
.fw .tabLabelUnsaved {
	font-style: italic;
}
.fw .unsaveIndicator {
	height: 29px;
	position: absolute;
	right: 28px;
	top: 4px;
}
.fw .dijitTabChecked .unsaveIndicator {
	color: #f00;
}
/* styles for left/right/menu buttons (menu is hidden) */
.fw .tabStripButton .dijitTabContent,
.fw .tabStripButton .dijitTabInnerDiv {
	background: none;
}
.fw .leftScrollBtn,
.fw .rightScrollBtn {
	margin-top: 22px !important;
}
.fw .leftScrollBtn {
	background: url('../images/uitabs/LeftTabShift.png') no-repeat 50% 0;
	width: 24px;
}
.fw .leftScrollBtnDisabled {
	background-image: url('../images/uitabs/leftTabShiftDisabled.png');
}
.fw .rightScrollBtn {
	background: url('../images/uitabs/RightTabShift.png') no-repeat 50% 0;
	width: 24px;
}
.fw .rightScrollBtnDisabled {
	background-image: url('../images/uitabs/rightTabShiftDisabled.png');
}
.fw .leftScrollBtnActive {
	background-image: url('../images/uitabs/LeftTabShiftClick.png');
}
.fw .rightScrollBtnActive {
	background-image: url('../images/uitabs/RightTabShiftClick.png');
}
.fw .tabStripButton .dijitTabInnerDiv,
.fw .tabStripButton .dijitTabContent {
	padding: 0;
	line-height: normal;
}

/* TODO: .fw .UITabContainer*BtnHover/Disabled? */
.fw .UITabContainerMenuBtn {
	display: none;
}
.fw .tabIconTooltip,
.fw .tabLabelTooltip {
	padding: 8px;
	background: url("../../images/common/ddBg.png") repeat-x center bottom #fff;
	border: 1px solid #999;
	-moz-box-shadow: 1px 1px 4px #666;
	-webkit-box-shadow: 1px 1px 4px #666;
	box-shadow: 1px 1px 4px #666;
	font-size: 11px;
	position: absolute;
	display: none;
	z-index: 1001;
}
.fw .tabLabelTooltip {
	margin-left: 15px;
	z-index: 1002;
}

/* [KGF] moved from UC1.css, since these styles seem directly relevant to TC */
.fw .UITabs {
	width: 100%;
	height: 100%;
}
/* [KGF] this applies to e.g. .dijitTabContainerTop-container for all sides */
.fw .dijitTabPaneWrapper {
	border: none;
}
.fw .dijitTabSpacer{
	display: none;
}