.fw .UITextareaWrapper {
	border: none; /* FIXME: removable after removing UIInput.css .dijitTextarea styles */
	padding: 1px;
	width: 15em; /* match TextBox default */
}

.fw .UITextarea {
	position: relative;
	width: 100%;
	height: 100%;
	
	border: 1px solid #cecece;
	border-bottom-color: #e3e3e3;
	border-top-color: #8f8f8f;
}

/* focused/error state styles, same as UIInput and UIComboBox/etc. */
.fw .UITextareaWrapperFocused {
	padding: 0; /* override 1px padding on our form widgets' default states */
	border: 1px solid #76929d;
	outline: none;
}
.fw .UITextareaWrapperError {
	padding: 0; /* override 1px padding on our form widgets' default states */
	border: 1px solid #c74b33;
}

.fw .UITextarea textarea {
	border-bottom: 0px solid #e3e3e3 !important;
	border-top: 1px solid #cdcdcd !important;
	border-left: 1px solid #f3f3f3 !important;
	border-right: 1px solid #f3f3f3 !important;
	width: 99%;
	height: 99%;
	line-height: 19px;
	padding-left: 3px;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 12px;
	outline:none;
}

.fw .UITextareaDefaultTitle{
	color: #aaa;
	position: absolute;
	top: 3px;
	left: 4px;
}