<div class="alertDialog">
	<span dojoAttachPoint="closeButtonNode"></span>
	<div class="iconNode"></div>
	<div class="titleNode" dojoAttachPoint="titleNode"></div>
	<div class="messageNode" dojoAttachPoint="messageNode"></div>
	<div class="buttonNode">
		<div dojoType="fw.ui.dijit.Button" buttonStyle="greySmall" dojoAttachEvent="onClick:closeDialog">OK</div>
	</div>
</div>