<div class="dijitReset dijitMenuItem" dojoAttachPoint="focusNode" role="menuitemcheckbox" tabIndex="-1" dojoAttachEvent="onmouseenter:_onHover,onmouseleave:_onUnhover,ondijitclick:_onClick">
	<span class="dijitReset dijitMenuItemIconCell" role="presentation">
		<img src="${_blankGif}" alt="" class="dijitMenuItemIcon dijitCheckedMenuItemIcon" dojoAttachPoint="iconNode" />
		<span class="dijitCheckedMenuItemIconChar">&#10003;</span>
	</span>
	<span class="dijitReset dijitMenuItemLabel" dojoAttachPoint="containerNode,labelNode"></span>
</div>
