<div>
 <div dojoAttachPoint="headerAreaNode" class="headerArea">
	<div dojoAttachPoint="headerAreaLeftNode">
	<div dojoAttachPoint="titleNode" class="titleText" id="${id}_title"></div>
	<div dojoAttachPoint="headerAreaRightNode" class="categorySelectBox">
		${!headerRightAreaTemplateString}
	</div>
	<div dojoAttachPoint="subtitleNode" class="subTitleText" id="${id}_subtitle"></div>
  </div>
 </div>
 <div dojoAttachPoint="containerNode,collapsedAreaNode" class="collapsedArea innerBox">
  ${!_roundedCornerTemplateString}
  <div class="collapsedContent">
   ${!collapsedAreaTemplateString}
  </div>
 </div>
 <div dojoAttachPoint="expandedAreaNode" class="expandedArea innerBox">
  ${!_roundedCornerTemplateString}
  <div class="expandedContent">
   ${!expandedAreaTemplateString}
  </div>
 </div>
</div>