<div>
	<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon"
		dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
		<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
	</span>
	${!_roundedCornerTemplateString}
	<div class="dialogDragNode" dojoAttachPoint="dragNode"></div>
	<div dojoAttachPoint="containerNode"></div>
</div>