<div>
	<div dojoAttachPoint="messageBox" class="messageWrapper">
		<div class="messageIcon"></div>
		<div class="messageContent">
			<div dojoAttachPoint="messageTitle" class="messageTitle"></div>
			<div dojoAttachPoint="messageText" class="messageText"></div>
		</div>
	</div>
</div>