<div class="slotPropertiesContainer">
	<h3 dojoAttachPoint="titleNode">${_slotpropertiestitle}</h3>
	<span dojoType="fw.ui.dijit._SlotPropertiesStackController" containerId="${id}_stackContainer"></span>
	<div dojoType="dijit.layout.StackContainer" class="slotPropertiesContent innerBox" id="${id}_stackContainer" dojoAttachPoint="stackContainer">
		${!_roundedCornerTemplateString}
		<div dojoType="dijit.layout.ContentPane" title="${_generaltitle}">
			<table class="slotPropertiesInfo">
			<tr>
				<th>${_slotContentLabel}</th><td dojoAttachPoint="slotContentNode"></td>
			</tr>
			<tr>
				<th>${_slotLayoutLabel}</th><td dojoAttachPoint="slotLayoutNode"></td>
			</tr>
			<tr>
				<th>${_slotPermittedLabel}</th><td dojoAttachPoint="permittedContentNode" class="permittedContent"></td>
			</tr>
			</table>
		</div>
		<div dojoType="dijit.layout.ContentPane" title="${_advancedtitle}" dojoAttachPoint="advancedPane"></div>
	</div>
	<div class="slotPropertiesButtons innerBox" dojoAttachPoint="buttonNode">
		${!_roundedCornerTemplateString}
		<div class="slotPropertiesButtonsContent">
			<div data-dojo-type="fw.ui.dijit.Button"
				data-dojo-props="
					buttonStyle: 'grey',
					buttonType: 'OK'"
			 	data-dojo-attach-event="onClick:_onSave">${_slsSave}</div>
			<div data-dojo-type="fw.ui.dijit.Button"
				data-dojo-props="
					buttonStyle: 'grey',
					buttonType: 'Cancel'"
			 	data-dojo-attach-event="onClick:onCancel">${_slsCancel}</div>
		</div>
	</div>
</div>