<div class="carouselDiv" dojoAttachPoint="carouselDiv" >
	<div class="carouselWrap" dojoAttachPoint="carouselWrap">
		<div class="devices-toolbar">
			<div style= "float: left">
			<select dojotype="dijit.form.Select" class="deviceSortSelect" title='Sort' dojoAttachPoint="deviceSortSelect" dojoAttachEvent="onChange: sortBy">
				<option value="${sortFields.manufacturer.value}">${sortByKeys.manufacturerAsc}</option>
				<option value="${sortFields.manufacturer.value}:desc">${sortByKeys.manufacturerDesc}</option>
				<option value="${sortFields.deviceImageName.value}" selected="selected">${sortByKeys.nameAsc}</option>
				<option value="${sortFields.deviceImageName.value}:desc">${sortByKeys.nameDesc}</option>
			</select>
			</div>
			<div style= "float: right">
			<div class="toolbar-item" id="refresh" dojoAttachEvent="onclick: refresh"></div>
			<div class="toolbar-item" id="close" dojoAttachEvent="onclick: close"></div>
			</div>
		</div>
		<div class="carouselPrev" dojoAttachPoint="carouselPrev">
			<div class="arrow">
				<img class="carouselPrevImg" src='' dojoAttachPoint="carouselPrevImg" dojoAttachEvent='onclick: _onScrollLeft' />
			</div>
		</div>
		<div class="carousel" dojoAttachPoint="carousel">
			<div class="carouselItemContainer" dojoAttachPoint="carouselItemContainer" >
			</div>
		</div>
		<div class="carouselNext" dojoAttachPoint="carouselNext">
			<div class="arrow">
				<img class="carouselNextImg" src='' dojoAttachPoint="carouselNextImg" dojoAttachEvent='onclick: _onScrollRight' />
			</div>
		</div>
	</div>
</div>