<span data-dojo-attach-point="editNode" role="presentation" style="position: absolute; visibility:hidden" class="inlineEditorNode dijitReset dijitInline"
	data-dojo-attach-event="onkeypress: _onKeyPress"
	><span class="inlineEditorWrapper"
		><span data-dojo-attach-point="editorPlaceholder"
		><span class="minimizeButtonContainer" data-dojo-attach-point="editorMinimizeButton"></span
		></span
	></span
	><span data-dojo-attach-point="buttonContainer"
		><button data-dojo-type="dijit.form.Button" data-dojo-props="label: '${buttonSave}', 'class': 'saveButton'"
			data-dojo-attach-point="saveButton" data-dojo-attach-event="onClick:save"></button
		><button data-dojo-type="dijit.form.Button"  data-dojo-props="label: '${buttonCancel}', 'class': 'cancelButton'"
			data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:cancel"></button
	></span
></span>