/* the styles below are original they wont be used in ShowAppToolbar */

 .toolbar-background { color : #7678af }																														
 .toolbar-highlight { background-color : #9999cc }																												
 .toolbar-status-background { color : #666699 }																													
 .toolbar-dark { background-color : #666699 }																													
 .toolbar-status-text { font-size : 11px; font-family : Verdana, Geneva, Arial, Helvetica,Swiss,SunsSans-Regular; background-color : #7678af; color : #FFFFFF}	
 .toolbar-status-links { font-size : 11px; font-family : Verdana, Geneva, Arial, Helvetica,Swiss,SunsSans-Regular; background-color : #7678af; color : #FFFFFF}	
 a:active { color: #FFCC33 }																																	
 a:visited { color: #FFFFFF }																																	
 .tab {position : relative; visibility : hidden;}  


/* This body code is for a few other pages.  My font and background-image should overwrite this in the top nav */
body { font-size : 10pt; font-family : Verdana, Geneva, Arial, Helvetica,Swiss,SunsSans-Regular; }  

/* end original code */

/* below is Paul's new css*/


.thinBar
{
	padding:0px 5px 0px 5px;
}


.class1
{
	
	color:#336699;
	font-family:arial, helvetica, verdana, san-serif;
	font-size:11px;
	font-weight:bold;
	padding:0px 1px 0px 1px;
	vertical-align: middle;
	white-space:nowrap;
}

.advmenutext{
	color:#FFFFFF;
	font-size:14px;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
	white-space:nowrap;
	margin: 0px 10px 0px 10px;
}

.secrowhighlight
{
	background-color:#666666;
	color:#FFFFFF;
	font-family:arial, helvetica, verdana, san-serif;
	font-size:11px;
	font-weight:bolder;
	padding:0px 2px 2px 2px;
	vertical-align: middle;

}




.secrowregular, .secrowregular a, .secrowregular a:visited
{
	color:#333333;
	font-family:arial, helvetica, verdana, san-serif;
	font-size:11px;
	font-weight:normal;
	padding:0px 0px 0px 0px;
	vertical-align: bottom;
	white-space:nowrap;

}
 
.middlerowregular
{
	vertical-align:middle; 
	font-family:arial, helvetica, verdana, san-serif; 
	font-size:11px; 
	white-space:nowrap; 
	font-weight:normal; 
	color:#17387d;

}
 
.middlerowregular a, .middlerowregular a:visited
{
	vertical-align:middle; 
	font-family:arial, helvetica, verdana, san-serif; 
	font-size:11px; 
	white-space:nowrap; 
	font-weight:normal; 
	color:#17387d;
	text-decoration:underline;

}

.toprowwhite
{
 	font-family:arial, helvetica, verdana, san-serif; 
 	font-size:10px; 
 	white-space:nowrap; 
 	font-weight:bold; 
 	color:#ffffff;

}

.toprowwhite a, .toprowwhite a:visited
{
 	font-family:arial, helvetica, verdana, san-serif; 
 	font-size:10px; 
 	white-space:nowrap; 
 	font-weight:bold; 
 	color:#ffffff;
	text-decoration:underline;

}

.secrowregular img
{
	border-style:none;
}

.class1 a, .mouseover a
{
	color:336699;
	text-decoration:none;
	font-family:arial, helvetica, verdana, san-serif;
}

.class1 img, .mouseover img, .plainBlueBG img, img
{
	border-width:0;
}


.mouseover
{
	background-color:#FFFFFF;		
	color:#336699;
	font-family:arial, helvetica, verdana, san-serif;
	font-size:11px;
	font-weight:bold;
	padding:0px 1px 0px 1px;
	border-color:#c7c9c9;
	border-style:solid;
	border-width:1px 0px 1px 0px;
	white-space:nowrap;
}

.dropDownTable
{
	padding:0px 0px 0px 0px;
	border-color:#c7c9c9;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	background-color:#FFFFFF;
}

.dropDownTableCell
{
	background-color:#FFFFFF;
	color:#333333;
	font-family:arial, helvetica, verdana, san-serif;
	font-size:12px;
	font-weight:normal;
	padding:4px 10px 2px 10px;
	text-decoration:none;
	white-space:nowrap;
}
.dropDownTableCell a
{
	text-decoration:none;
	color:#333333;
	white-space:nowrap;
}

.dropdownmouseover
{
	background-color:#8b9db5;
	color:#FFFFFF;
	font-family:arial, helvetica, verdana, san-serif;
	font-size:12px;
	font-weight:normal;
	padding:4px 10px 2px 10px;
	text-decoration:none;
	white-space:nowrap;
}
.dropdownmouseover a
{
	text-decoration:none;
	color:#FFFFFF;
}

.dropDownTableCellOff
{
	background-color:#FFFFFF;
	color:#DCDCDC;
	font-family:arial, helvetica, verdana, san-serif;
	font-size:12px;
	font-weight:normal;
	padding:4px 10px 2px 10px;
	text-decoration:none;
	white-space:nowrap;
}

.helptext
{
	background-color:#FFFFDD;
	color:#333333;
	font-family:arial, helvetica, verdana, san-serif;
	font-size:12px;
	font-weight:normal;
	padding:2px 6px 2px 4px;
	text-decoration:none;
	border-color:#bebebe;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	white-space:nowrap;

}

