
.displayTable{
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	padding: 1px 1px 1px 1px;
	border: 1px solid black;
}
	
.tableHeadBackground{
	background: #6689CC;
	height:20px;
}
	
.tableColumnLabel{
	text-align: left;
	font-weight:bold;
}
.selectWidth{
	width:120px;
}

.subText{
	font-size:0.6em;
	color:#CC00FF;
}

.supText{
	font-size:0.6em;
	font-weight:bold;
	color:#CC00FF;
}

.matchDepColor{
	color:blue;
	
}

.strikeBackGround{
	background:#FFCC99;
}

.invalidateDep{
	text-decoration:line-through;
	color:red;
	height:25px;
}

.dep{
	height:25px;
}

.checkboxLookup{
	margin:0;
	overflow:hidden;
}

.tool-title-text {
	font-size:22px;
	font-family: Verdana, Geneva, Arial, Helvetica, Swiss, SunSans-Regular;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	margin:5px;
	text-indent: -100px;
	color:#0404B4;
}

.tool-fatwire-logo {
	font-size:22px;
	color:#424242;
	width:100px;
}

.title-background {
	background: #F7F8FA;
}

.sub-title-text { 
	font-weight: bold; 
	font-size: 14px; 
	text-decoration: none;
}

.system-info-text {
	font-size: 14px; 
	text-decoration: none;
}
	
.menu-text { 
	font-size: 12px; 
	font-family: Verdana, Geneva, Arial, Helvetica, Swiss, SunSans-Regular;
	line-height: 2em;
	padding: 6px;
	margin: 8px;
	text-indent: 5px;
	list-style-position: outside;
}

.no-underline { 
	text-decoration : none;
}

td.padded {
	padding-left:3px;
	padding-right:3px;
 }
td.nowrap{
	white-space:nowrap;
}

td.text-align-center {
	text-align:center;
 }

 .break-all-line { 
	word-break: break-all; 
}


fieldset {
  background-color: #FFFFCC;
  width: 360px; 
}

legend {
  padding: 3px;
  color:blue
}

td.legend-text {
  color: #0099CC;
}

.dark-line-color { background-color: #000 }
.default-text { font-size: 12px; font-family: Verdana, Geneva, Arial, Helvetica, Swiss, SunSans-Regular }
.form-label-text { font-weight: bold; font-size: 12px }
.light-line-color { background-color: #ccc }
.light-text-color { color: #666 }
.message-bg-color { background-color: #ffffe0 }
.small-text { font-size: 11px; font-family: Verdana, Geneva, Arial, Helvetica, Swiss, SunSans-Regular }
.subtitle-text { font-weight: bold; font-size: 12px }
.table-header-small-text { font-size: 11px }
.table-header-text { font-size: 12px }
body { font-size: 13px; font-family: Verdana, Geneva, Arial, Helvetica, Swiss, SunSans-Regular; background-color: #fff; }
td { font-size: 11px; font-family: Verdana, Geneva, Arial, Helvetica, Swiss, SunSans-Regular }

.tile-border {background-color : #666699 }
.tile-solid {background-color : #666699 ;	border-left:1px solid #9999cc;
	border-right:1px solid #333366;
	border-bottom:1px solid #333366;
	border-top : 1px solid #9999cc}
.tile-a { 	
	border-left:1px solid #9999cc;
	border-bottom:1px solid #333366;
	}	
.tile-b { 
	border-bottom:1px solid #333366;
	font-family : Verdana,geneva;
	color : #FFFFFF;
	font-weight : bold;
	font-size : 12px;
	}	
.tile-c {
	border-right:1px solid #333366;
	border-bottom:1px solid #333366;
	}
.tile-highlight {background-color : #9999cc }
.inset {margin-top : 4px; margin-bottom : 4px; font-family : Verdana,geneva; font-size: 11px;}
.small-text-inset {margin-top : 4px; margin-bottom : 4px; font-family : Verdana,geneva; font-size: 11px;}
.new-table-title {margin-top : 3px; margin-bottom : 3px; font-family : Verdana,geneva; 	color : #FFFFFF;
	font-weight : bold;
	font-size : 11px; text-decoration: none;
}
.tile-row-highlight { background-color : #f7f8fa }
.tile-row-normal { background-color : #ffffff }
.tile-dark {background-color : #333366 ; background : #333366}

.form-inset { margin-top : 4px; margin-bottom : 8px; margin-right : 8px; margin-left : 4px;}
.form-label-inset {margin-top : 4px; margin-bottom : 8px; margin-right : 8px; margin-left : 4px; font-weight: bold; font-size: 12px}
.form-shade { background-color : #f7f8fa }
