.action-selected-text { color: #505050; font-weight: bold; font-size: 10px; text-decoration: underline }
.action-text { color: #505050; font-weight: bold; font-size: 10px; text-decoration: none }
.navigation-link-text { color: #33c; font-weight: bold; font-size: 13px }
.table-sort-small-text { color: #33c; font-weight: bold; font-size: 11px; text-decoration: none }
.table-sort-text { color: #33c; font-weight: bold; font-size: 13px; text-decoration: none }
.header-title-text { font-weight: bold; font-size: 12px; text-decoration: none; color:#ffffff; font-family:Tahoma; text-indent:11px; height:27px; }
.header-title-value-text { font-weight: bold; font-size: 14px; color:#3e3e3e; font-family:Tahoma; }
.title-text { font-weight: bold; font-size: 14px; text-decoration: none }
.title-value-text { font-weight: bold; font-size: 14px ;}
.navigation-bar { color: #000; font-weight: bold; font-size: 12px; text-decoration: none }
.navigation-bar-on { color: #33c; font-weight: bold; font-size: 12px; text-decoration: none }
a:link {text-decoration: none;color: #4A91B8; font-family:Tahoma; font-size:12px;}
a:visited {text-decoration: none;color: #4A91B8}
a:active {text-decoration: none;color: #4A91B8}
a:hover {text-decoration: underline;color: #4A91B8}

.tile_heading {
	font-family:Tahoma;
	font-size:12px;
	color:#333333;
	width:500px;
	font-style:normal;
	line-height:17px;
	padding:10px 10px 25px 10px;
	background-color:#ececec;
}

.tile_headingText {
	font-family:Tahoma;
	font-size:12px;
	color:#fff;
	font-style:normal;
}

