.tableborder {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.fontstyle1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	BACKGROUND-COLOR: #fff;
	border: 1px none #a5bd78;
}
.fontstyle2 {
	font-size: 0.75em;
	font-weight: normal;
	color: #FFFFFF;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
}


#input_inside_border{
	BACKGROUND-COLOR: #ffffff;
	border: 1px solid a5bd78;
	padding: 1px;
}
.tdborder {
	border: 1px solid #666666;
}

a {
    text-decoration: none;
}
a:hover {
	underline;color: #f8b425;
    text-decoration: underline;
}

.fontstyle3 {
	FONT-SIZE: 0.70em;
	COLOR: #425a89;
	LINE-HEIGHT: 1.3em;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
}

.fontstyle4 {
	FONT-SIZE: 0.75em;
	COLOR: #333333;
	LINE-HEIGHT: 18px;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
	font-weight: bold;
}


.fontstyle5 {
	FONT-SIZE: 0.75em;
	COLOR: #333333;
	LINE-HEIGHT: 14px;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
}

.timeouttableborder {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.timeoutfontstyle1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	BACKGROUND-COLOR: #fff;
	border: 1px solid #FFFFFF;
}
.timeoutfontstyle2 {
	font-size: 0.75em;
	font-weight: normal;
	color: #FFFFFF;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
}


#input_inside_border{
	BACKGROUND-COLOR: #ffffff;
	border: 1px solid a5bd78;
	padding: 1px;
}
.timeouttdborder {
	border: 1px solid #666666;
}


.timeoutfontstyle3 {
	FONT-SIZE: 0.70em;
	COLOR: #425a89;
	LINE-HEIGHT: 1.3em;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
}
.timeoutcopyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

.timeoutfontstyle4 {
	FONT-SIZE: 1.0em;
	COLOR: #333333;
	LINE-HEIGHT: 18px;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
	font-weight: bold;
}


.timeoutfontstyle5 {
	FONT-SIZE: 0.75em;
	COLOR: #333333;
	LINE-HEIGHT: 14px;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
}

.timeoutfontstyle6 {
	FONT-SIZE: 0.85em;
	COLOR: #ffffff;
	LINE-HEIGHT: 18px;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
	font-weight: bold;
	margin-left: 40px;
}

.timeoutfontstyle7 {
	FONT-SIZE: 0.75em;
	COLOR: #ffffff;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
	font-weight: normal;
	margin-right: 30px;
	margin-left: 30px;
}

UL.timeoutlist {
	FONT-WEIGHT: normal;
	FONT-SIZE: 0.75em;
	MARGIN-LEFT: 32px;
	LINE-HEIGHT: 17px;
	MARGIN-RIGHT: 32px;
	FONT-FAMILY: 'lucida grande', geneva, arial, verdana, sans-serif;
	LIST-STYLE-TYPE: square;
	color: #FFFFFF;
	list-style-position: inside;
	margin-top: 8px;
	margin-bottom: 8px;
	font-variant: normal;
}

.timeouttableborder1 {
	border: 1px solid #FFFFFF;
}

.timeoutfontstyle8 {
	FONT-SIZE: 18px;
	COLOR: #ffffff;
	LINE-HEIGHT: 18px;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
	font-weight: bold;
	
}

.timeoutfontstyle9 {
	FONT-SIZE: 0.75em;
	COLOR: #333333;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
	font-weight: normal;
}


.timeoutlogin{
	FONT-SIZE: 0.75em;
	COLOR: #f8b425;
	text-decoration: underline;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
	font-weight: bold;
	
}

.timeoutfontstyle10 {
	FONT-SIZE: 1.2em;
	COLOR: #ffffff;
	text-decoration: none;
	font-family: 'lucida grande', geneva, arial, verdana, sans-serif;
	font-weight: normal;
	margin-right: 30px;
	margin-left: 30px;
}

td { 
	font-size: 12px; 
	font-family: Verdana, Geneva, Arial, Helvetica, Swiss, SunSans-Regular 
}

a:visited {text-decoration: underline;}